@use './helpers/statics';
@use './helpers/buttons';
@use './helpers/components';

// Variables :
$dark: #282828;
$darker: #181818;
$middark: #212121;
$lightdark: #444746;
$light: #fcfcfc;
$bgLight: #eaeaea;
$success: #198754;
$danger: #dc3545;
$prime: #0d6efd;
$money: #28b530;
$accent: #6ee154;

::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.statDiv {
  @apply bg-light dark:bg-middark w-[200px] h-[120px] px-4 py-2 rounded-[10px] flex flex-col relative;
  p {
    @apply text-size-2 font-bold self-center;
  }
  i {
    @apply absolute bottom-[8px] right-[20px] text-[30px];
  }
}

.before-rabon::before {
  content: '';
  @apply absolute -left-4 top-0 w-[3px] h-full bg-success;
}

.flex-center {
  @apply flex items-center justify-center;
}

.rate-green {
  color: $success;
}
.rate-cyan {
  color: rgb(6 182 212);
}
.rate-yellow {
  color: rgb(234 179 8);
}
.rate-orange {
  color: rgb(249 115 22);
}
.rate-red {
  color: rgb(239 68 68);
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.golden-glass {
  display: flex !important;
  background: linear-gradient(135deg, #fff700, #ffb800, #ffd700);
  background-size: 200% 200%;
  animation: shine 3s linear infinite;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px rgba(255, 215, 0, 0.5);
  @apply p-2 flex-row rounded-lg gap-4;
}
